* {
  font-size:xx-large;
  /* color: linen; */
  color:white;
  text-shadow:
    1px 1px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
.outerDiv {
  background-color: lightslategray;
  position:absolute;
  bottom:10px;
  width:100%;
  height:200px;
  border:1px solid linen;
  overflow-y: hidden;
}
.innerDiv {
  height:200px;
  position: inherit;
  left:20px;
  right:20px;
}
.textDiv {
  position:absolute;
  bottom:0px;
}
