* {
  font-family: 'Roboto', sans-serif;
  font-size:xx-large;
}
.outerDiv {
  background-color: lightslategray;
  position:absolute;
  bottom:10px;
  width:100%;
  height:200px;
  border:1px solid linen;
}
.innerDiv {
  margin:40px;
}
